<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgIqP4PfAevVo7B-Yqj8c29rqF9JB6N_o</string>
	<key>GCM_SENDER_ID</key>
	<string>637717472637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookly.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookshop-57c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshop-57c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637717472637:ios:3a123a209e3cb70b329814</string>
</dict>
</plist>